.body {
	margin: 0;
}

a.href {
	color: inherit;
}

.fixed {
	position: fixed;
	width: 100%;
}

.navbarBG {
	background-color: #222222;
	margin-left: -10px;
	margin-top: -10px;
}

.navBar {
	background-color: #222222;
	overflow: hidden;
	padding-left: 10px;
	padding-top: 10px;
	vertical-align: middle;
}

.navBar a.home img {
	width: 60px;
	height: 60px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.navBar a {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	text-decoration: none;
	vertical-align: middle;
	color: #ffffff;
}

.nav-rightSide {
	vertical-align: middle;
	padding-top: 22px;
	padding-right: 20px;
	float: right;
}

.nav-rightSide a:link {
	color: #ffffff;
}

.nav-rightSide a:visited {
	color: #ffffff;
}

.nav-rightSide a:hover {
	color: #E42646;
}

.nav-rightSide a.spacer:hover {
	color: #ffffff;
}

/*	Hero Section */

.hero-section {
	width: 100%;
	background: linear-gradient(rgba(255, 0, 0, .5), rgba(0, 0, 255, .5)), url("robotics.jpg") 50% no-repeat;
	background-size: cover;
	padding-right: 16px;
	height: 67vh;
	text-align: center;
	margin-left: -8px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.hero-section .hero-section-text {
	color: #fefefe;
	text-shadow: 1px 1px 2px #0a0a0a;
	font-family: 'Montserrat', sans-serif;
}

.hero-section .hero-section-text h1 {
	font-weight: 700;
}

/*	Content Section	*/

.content {
	padding-top: 120px;
	margin-left: 8.5%;
	margin-right: 8.5%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.content img {
	width: 25%;
	height: 25%;
}

.infoSection {
	align-content: center;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-top: -123px;
}

.infoSection h1 {
	font-weight: 700;
}

.infoSection h4 {
	font-weight: 600;
}

.infoSection p {
	font-weight: 300;
}

a.red {
	color: #E42646;
}

.calendar {
	position: relative;
	overflow: hidden;
	display: contents;
	align-content: center;
}

.calendar iframe {
	padding-top: 15px;
	padding-bottom: 20px;
	width: 100%;
	height: 250px;
	border: 0;
}

/*	Footer Section	*/

.footerWrapper {
	position: relative;
	overflow-x: hidden;
	display: contents;
	width: 100vw;
}

.columnLeft {
	width: 33%;
	align-content: center;
}

.columnCenter {
	width: 33%;
	align-content: center;
}

.columnRight {
	width: 33%;
	align-content: center;
	vertical-align: middle;
}

.footer {
	display: flex;
	position: absolute;
	width: 100%;
	margin-left: -8px;
	height: 60px;
	clear: both;
	background-color: #222222;
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	align-content: center;
	align-items: center;
}

.footer .social {
	color: #ffffff;
}

.columnRight a:visited {
	color: #ffffff;
}

.columnRight a:link {
	color: #ffffff;
}

.columnRight a:hover {
	color: #E42646;
}
